# Ignorar la configuración de editor
.vscode/

# Ignorar carpetas de build de Maven
/target/

# Ignorar logs y archivos temporales
*.log

# Ignorar archivos de sistema
.DS_Store

# IDEs comunes (si llegas a usar IntelliJ, Eclipse…)
.idea/
*.iml
.project
.classpath
.settings/
